{% extends 'template.twig' %}
{% block content %}
{% block title %}Modifier votre poste : {{postmodif.title}} {% endblock %}
    <form action="/OCP5/listpostuser/editpost/editpostmodif/udpatepost" method="post">
        <div class="form-group">
            <label for="title" class="form-label mt-4">Titre : </label>
                <input type="text" name="title" placeholder="{{postmodif.title}}" class="form-control">
            <label for='contenue' class="form-label mt-4"></label>
                <textarea id="mytextarea" name="contenue" rows="5" cols="33" placeholder="{{postmodif.contenue}}"></textarea>
            <label for='chapo' class="form-label mt-4">Chapô : </label>
                <input type="text" name="chapo" placeholder="{{postmodif.chapo}}" class="form-control"></br>
                <input type="hidden" name="postid" value="{{postmodif.id}}" class="form-control">
            <button class="btn btn-primary" type='submit'>Validez</button>
        </div>
    </form>
{% endblock %}