{% extends 'template.twig' %}
{% block content %}
{% block title %}Modifier votre poste : {{postmodif.title}} {% endblock %}
    <form action="/OCP5/listpostuser/editpost/editpostmodif/udpatepost" method="post">
        <label for="title">Titre : </label>
            <input type="text" name="title" placeholder="{{postmodif.title}}">
        <label for='contenue'></label>
            <textarea id="mytextarea" name="contenue" rows="5" cols="33" placeholder="{{postmodif.contenue}}"></textarea>
        <label for='chapo'>Chapô : </label>
            <input type="text" name="chapo" placeholder="{{postmodif.chapo}}"></br>
            <input type="hidden" name="postid" value="{{postmodif.id}}">
        <button type='submit'>Validez</button>
    </form>
{% endblock %}