{% extends 'template.twig' %}
{% block title %}{{data_post.title}}{% endblock %}
{% block content %}
    <h2>{{data_post.title}}</h2>
    <i>{{data_post.author}}</i>
    <p>{{data_post.contenue}}</p>
    <b>{{data_post.chapo}}</b><br>
    <i>{{data_post.dateCreation|date("d/m/Y")}}</i>
    {% for data_comment in data_comments %}
        {% if data_comment.valid == 1 %}
        <fieldset>
            <b>{{data_comment.author}}</b>
            <p>{{data_comment.comment}}</p>
            <i>{{data_comment.commentCreate|date("d/m/Y H:i")}}</i>
        </fieldset>
        {% endif %}
    {% endfor %} 
    <form action='addcomment-{{data_post.id}}' method="post">
        <label for="comment">Ajouter un commentaire : </label></br>
        <textarea id="mytextarea" name="comment" rows="5" cols="33"></textarea></br>
        <button type='submit'>Validez</button>
    </form>
{% endblock %}