{% extends 'template.twig' %}
{% block title %}Gestion des comptes{% endblock %}
{% block content %}
    {% for user in users %}
        <fieldset>
            <b>{{user.pseudo}}</b>
            <i>{{user.DateInscription}}</i>
            <p>Email : {{user.email}}</p><p>Numéro Tel : {{user.num_Tel}}</p></br>
            <form action="/OCP5/admin/editaccount/deleteaccount" method="post">
                <input type="hidden" name="idaccount" value="{{user.id}}">
                <button type="submit">Supprimer</button> 
            </form>
        </fieldset>
    {% endfor %}
{% endblock %}